<div class="row">
  <div class="col-md-12">
    <center>
    <p><h2>Что это?</h2></p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    </center>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <center>
    <p><h2>Как это работает?</h2></p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    </center>
  </div>
  </div>
</div>

<center>
<div class="lenght">
<form class="form-horizontal" action="/registration/" method="POST">
  <div class="form-group">
    <label for="inputName3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" name="name" class="form-control" id="inputname3" placeholder="Введите имя">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Введите электронную почту">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Введите пароль">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Зарегистрироваться</button>
    </div>
  </div>
</form>
</div>
</center>

<div class="row">
  <div class="col-md-12">
    <center>
    <p><h2>Отзывы пользователей</h2></p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    <p>И бла-бла-бла.</p>
    </center>
  </div>
  </div>
</div>