<div class="row">
  <div class="col-md-12">
    <left>
    <p><h1>SCA что это?</h1></p>
    </left>
      <left>
        <h4>
      <p>Проект SCA направлен на развитие личностных качеств человека и мотивирование полезных привычек.</p>
      <p>Благодаря нашей системе ежедневных заданий, вы будете совершенствоваться с каждым новым днем.</p>
      <p>Мы порадуем вас не только качеством работы, но и простотой использования нашего сервиса.</p>
      <p>Присоединяйтесь к SCA и становитесь лучше!</p>
        </h4>
      </left>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <left>
    <p><h2>Как это работает?</h2></p>
      </left>
    <left>
    <h4>
      <p>Наш сервис будет автоматически присылать вам ежедневные задания,
      <p>в зависимости от цели, которую вы предварительно выберите в своем личном кабинете.</p>
      <p>Задания будут достаточно простые, так то не стоит переживать о том, что вы не справитесь.</p>
      <p>Уже после недели участия в нашем проекте вы заметите, как начинаете меняться в лучшую сторону.</p>
      <p>Так же мы ввели систему баллов, по суммарному количеству которых </p>
      <p>будет формироватьсяобщий рейтинг среди участников проекта.</p>
      <p>Как видите, все достаточно просто. Ждем вас в мире SCA.</p>
      </h4>
    </left>
  </div>
  </div>
<div class="row">
  <div class="col-md-12">
    <left>
    <p><h2>Отзывы пользователей</h2></p>
      </left>
    <left>
    <h4>
      <p>Вася Васин: Этот сервис изменил мою гребаную жизнь!</p>
      <p>Теперь я, как белый человек и мир прекрасен!</p>
      <p>Всем рекомендуб SCA!</p>
      </h4>
    </left>
  </div>
  </div>
</div>
</div>

<div>
<center>
    <p><h2>Зарегистрироваться</h2></p>
      </center>
<center>
<div class="lenght">
<form class="form-horizontal" action="/registration/" method="POST">
  <div class="form-group">
    <label for="inputName3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" name="name" class="form-control" id="inputname3" placeholder="Введите имя">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Введите электронную почту">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Введите пароль">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Зарегистрироваться</button>
    </div>
  </div>
</form>
</div>
</center>
</div>

